*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
* {
  /* outline: 1px solid #000; */
}

html {
  box-sizing: border-box;
  color: #354463;
  font-family: "Helvetica";
}

.newsletter__container {
  background-color: #c1f7d5;
  height: 208px;
  margin: 0 auto;
  /* width: 77.7%; */
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter {
  display: flex;
  width: 77.7%;
}

.newsletter__text {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  padding: 0.5rem;
}

.newsletter__form {
  width: 100%;
  padding: 1rem 0;
  display: flex;
}

.newsletter--email {
  padding: 1rem 2.5rem;
  border-radius: 50px;
  border: 0;
  font-size: 20px;
  width: 352px;
  margin: 0 1rem;
}

.newsletter--submit {
  background-color: #354463;
  box-sizing: border-box;
  border-radius: 50px;
  border: 0;
  color: #c1f7d5;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-align: center;
  margin: 0 0.5rem;
}

/*********************tablet*********************/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .newsletter__container {
    display: flex;
    height: 255px;
    margin: 0;
    max-width: 100%;
  }

  .newsletter {
    display: block;
    margin: 4rem auto;
    width: 83.34%; /*83.3 => 640 / 768 */
  }

  .newsletter__text {
    font-size: 22px;
    margin: 0;
    max-width: 448px;
    padding: 0.5rem;
    text-align: left;
  }

  .newsletter--email {
    margin: 0;
    height: 40px;
    width: 448px;
  }

  .newsletter--submit {
    margin: 0 1.1rem;
    padding: 0.5rem 2rem;
  }
}
