*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
* {
  /* outline: 1px solid #000; */
}

html {
  box-sizing: border-box;
  color: #354463;
  font-family: 'Helvetica';
}

.newsletter__container {
  background-color: #c1f7d5;
  height: 208px;
  margin: 0 auto;
  /* width: 77.7%; */
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter {
  display: flex;
  width: 77.7%;
}

.newsletter__text {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  padding: 0.5rem;
}

.newsletter__form {
  width: 100%;
  padding: 1rem 0;
  display: flex;
}

.newsletter--email {
  padding: 1rem 2.5rem;
  border-radius: 50px;
  border: 0;
  font-size: 20px;
  width: 352px;
  margin: 0 1rem;
}

.newsletter--submit {
  background-color: #354463;
  box-sizing: border-box;
  border-radius: 50px;
  border: 0;
  color: #c1f7d5;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-align: center;
  margin: 0 0.5rem;
}
