/* showcase__banner

showcase__box

    showcase__cap

    showcase__text */

* {
    box-sizing: border-box;

}
.showcase__container {
    width: 1440px;
    margin: 0 auto; 
    padding: 128px 0;
    background-image: url('../../../assets/home/annie-spratt-135307-unsplash.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-color: #354463;
}

.showcase {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: center; 
}

.showcase__banner {
    color: #fff;
    font-size: 72px;
    font-family: 'Flood Std';
    text-align: left;
    margin: 0 135px;
}

.showcase__box {
    /* border: 1px solid #000; */
    background-color: #fff;
    color: #354463;
    height: 416px;
    padding: 3rem 4rem;
    position: relative;
    width: 544px;
}

.showcase__cap {
    color: #fff;
    background-color: #354463;
    bottom: 4rem;
    padding: 0.5rem 0rem; 
    position: relative;
    width: 160px; 
    text-align: center; 
}

.showcase__heading {
    /* border: 1px solid #000; */
    font-size: 44px;
    font-weight: bold;
    text-align: left;
}

.showcase__readmore {
    padding: 3rem 0;
}
.showcase__readmore a {
    color:  #354463;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .showcase__banner {
        font-size: 44px;
    }
}