.btn {
  color: #354463;
  box-sizing: border-box;
  border-radius: 50px;
  border: 0;
  background-color: #c1f7d5;
  font-size: 1.125rem; /* 18px */
  font-weight: bold;
  padding: 0.6rem 2.1rem;
  text-align: center;
}

.cap {
  color: #fff;
  background-color: #354463;
  padding: 0.5rem 0rem;
  text-align: center;
  z-index: 999;
  font-size: 14px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  box-sizing: inherit;
  /* outline: 1px solid red; */
}

a {
  text-decoration: none;
}
a:visited {
  color: #354463;
}

html {
  box-sizing: border-box;
}

.stories__container {
    display: flex;
    flex-direction: colum;
    justify-content: center;
    align-items: center;  
}

.stories__story {
  display: flex;
  flex-direction: row-reverse;
  width: 1120px;
  height: 588px;
}

.story__cap {
  bottom: 4rem;
  width: 160px;
  transform: translate(50%, 50%);
}

.story--image {
  max-width: 100%;
  max-height: 100%;
}

.stories__story--body {
  padding: 2rem;
  color: #fff;
  z-index: 999;
  transform: translate(18%, 18%);
  /* width: 312px; */
  /* height: 296px; */
}

.stories__story--text {
  background-color: #354463;
  width: 544px;
  height: 344px;
  padding: 3rem 4rem;
}

.stories__story--heading {
  font-size: 28px;
  font-weight: bold;
}
.stories__story--subtext {
  font-size: 14px;
  margin: 2rem 0;
}

.stories__story--button {
  margin: 5rem 0 0 0;
  display: inline-block;
}

/************ tablet ****************/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .stories__story {
    display: block;
  }

  .stories__story--body {
    transform: translate(5%, -30%);
  }

  .story--image-pic {
    width: 576px;
  }

  .stories__story--text {
    width: 576px;
    height: 287px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .stories__story {
    width: auto;
    height: auto;
    display: block;
    z-index: 999;
    /* margin: 0 auto; */
  }
  .stories__story--head,
  .stories__story--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .stories__story--body {
    transform: translate(0, 0);
    padding: 0;
    margin: 2rem auto;
  }

  .story__cap {
    transform: translate(0, 50%);
  }

  .story--image {
    margin: 0 auto;
  }
  .story--image-pic {
    width: 312px;
    height: 312px;
  }
  .stories__story--text {
    height: 296px;
    width: 312px;
    text-align: center;
    padding: 2rem;
  }

  .stories__story--heading {
    height: 203px;
    width: 248px;
    font-size: 22px;
    margin: 0 auto;
  }
  .stories__story--subtext {
    font-size: 11px;
    margin: 1rem;
  }

  .stories__story--button {
    margin: 2rem 0 0 0;
    display: inline-block;
  }
}
