* {
  box-sizing: border-box;
}

.aboutus__showcase--container {
  background-image: url("../../../assets/about-us/annie-spratt-427339-unsplash.png");
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: 0% 0%;
  background-origin: border-box;
  background-color: #335563;
  height: 400px;
  width: 1440px;
  padding-top: 96px;
  margin: 0 auto;
}

.aboutus__showcase {
  width: 77.78%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.aboutus__showcase--banner {
  font-size: 72px;
  font-family: "Flood Std";
  color: #fff;
  /* margin-right: 280px; */
}

.aboutus__showcase--box {
  position: relative;
  width: 544px;
  height: 336px;
  background-color: #fff;
  color: #354463;
  padding: 0 4rem;
  padding-top: 4rem;
  /* border: 1px solid #000; */
  z-index: 999;
  transform: translateY(12.5%);
}
.aboutus__showcase--box-cap {
  transform: translateY(-250%);
  z-index: 50;
  position: absolute;
}

.aboutus__showcase--box-text {
  font-size: 28px;
  font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .aboutus__showcase--container {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  .aboutus__showcase {
    display: block;
  }

  .aboutus__showcase--banner {
    font-size: 44px;
  }

  .aboutus__showcase--box {
    width: 312px;
    height: 264px;
    padding: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 136px;
    /* margin-bottom: 5rem; */
  }

  .aboutus__showcase--box-cap {
    transform: translateY(-435%);
    width: 160px;
  }

  .aboutus__showcase--box-text {
    font-size: 22px;
  }
}
