* {
  box-sizing: border-box;
  /* outline: 1px solid #000; */
}

.takealook__container {
  width: 1120px;
  margin: 0 auto;
  background-color: #354463;
}

.takealook__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
  color: #fff;
}

.round-btn {
  width: 64px;
  border-radius: 50%;
  height: 64px;
  padding: 1rem;
  background-color: #c1f7d5;
}

.takealook__header--heading {
  font-family: "Flood Std";
  font-size: 44px;
  text-align: left;
  width: 65%;
}

.takealook__header--button {
  margin: 1rem;
  padding: 0 1rem;
}

.takelook__box--container {
  display: flex;
  max-width: 1120px;
  overflow-x: auto;
  padding: 2rem 0;
  background-color: #354463;
}

.takealook--box {
  width: 545px;
  height: 785px;
  margin: 0 0.5rem;
  /* outline: 1px solid #000; */
}

.takealook--cap {
  background-color: #fff;
  color: #354463;
  transform: translate(25%, 25%);
  width: 160px;
}

.tal--img {
  width: 545px;
  height: 394px;
}

.takealook--text { 
  padding: 4rem 2rem;
  background-color: #fff;
  /* outline: 1px solid #000; */
}

.takelook--text--heading {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  margin: 0 auto;
}

.takelook--text--para {
  margin: 1.5rem auto;
}

.takealook--button {
  padding: 2rem 0;
  height: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .takealook__container {
    width: 100%;
  }

  .takealook--box {
    width: 288px;
    height: 576px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .takealook--cap {
    transform: translate(0, 25%);
    margin: 0 auto;
  }

  .tal--img {
    width: 288px;
    height: 288px;
  }

  .takealook--text {
    text-align: left;
    padding: 24px 32px;
  }

  .takelook--text--heading {
    font-size: 22px;
    margin: 0;
  }

  .takelook--text--para {
    margin: 1rem 0;
  }

  .takealook--button {
    padding: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .takealook__container {
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }

  .takelook__box--container .takealook--box + .takealook--box {
    display: none;
  }

  .takealook__header {
    display: block;
    text-align: center;
    margin: 0;
  }

  .takealook__header--heading {
    font-size: 44px;
    text-align: center;
    width: 100%;
  }

  .takealook__header--button {
    display: absolute;
    transform: translate(475%, 350%);
    margin: 0;
    padding: 0;
    width: 60px;
  }

  .round-btn {
    width: 48px;
    height: 48px;
  }

  .takelook__box--container {
    overflow-x: hidden;
    margin: 0 auto;
  }

  .takealook--box {
    width: 312px;
    height: 552px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .takealook--cap {
    margin: 0 auto;
    transform: translate(0, 25%);
  }

  .tal--img {
    width: 312px;
    height: 224px;
  }

  .takealook--text {
    text-align: center;
    padding: 36px 28px;
  }

  .takelook--text--heading {
    font-size: 22px;
    margin: 0;
    text-align: center;
  }
}
