* {
  /* outline: 1px solid #fff; */
}

.whatwedo__container {
  padding: 8rem 0 6rem 0;
  background-color: #354463;
  width: 1440px;
  margin: 0 auto;
}

.whatwedo {
  width: 77.78%;
  margin: 0 auto;
  color: #fff;
}

.whatwedo__cap {
  width: 160px;
  background-color: #fff;
  color: #354463;
}

.whatwedo--item--logo {
  width: 57px;
  height: 57px;
}

.whatwedo__heading {
  font-size: 44px;
  font-weight: bold;
  text-align: left;
  margin: 2rem 0 8.5rem 0;
}

.whatwedo__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 6rem;
}

.whatwedo--item-text {
  text-align: left;
}

.whatwedo--item--heading {
  margin-top: 1rem;
  font-size: 28px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .whatwedo__container {
    padding: 4rem 0;
    max-width: 768px;
  }

  .whatwedo {
    width: 83.3%;
    margin: 0 auto;
  }

  .whatwedo--logo {
    width: 40px;
    height: 40px;
  }

  .whatwedo__heading {
    font-size: 28px;
    margin-bottom: 60px;
  }

  .whatwedo__items {
    width: 640px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }

  .whatwedo--item--heading {
    font-size: 18px;
    margin: 0;
  }

  .whatwedo--item-text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .whatwedo__container {
    width: 320px;
    padding: 2rem 0 2rem 0;
  }

  .whatwedo__cap {
    transform: translateX(37.5%);
  }

  .whatwedo__heading {
    font-size: 22px;
    text-align: center;
    margin: 22px;
  }

  .whatwedo {
    padding: 0 22px;
    margin: 0;
    width: inherit;
  }

  .whatwedo--logo {
    width: 40px;
    height: 40px;
  }

  .whatwedo__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 28px;
    row-gap: 28px;
  }

  .whatwedo--item--heading {
    font-size: 16px;
    margin: 0;
  }

  .whatwedo--item-text {
    font-size: 11px;
    padding: 0.5rem 0;
  }
}
