// .donation__footer {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
// }

.footer__campaign {
  text-align: right;
}

.donation__footer--container {
  /* border: 1px solid black; */
  outline: 1px solid black;
  padding: 1rem;
}

.donation__footer {
  // outline: 1px solid black;
  padding: 1rem;
  margin: 2rem auto;
  display: grid;
  width: 75%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  @media screen and (max-width: 992px) and (min-width: 501px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
  }
}
