$blue-dark: #354463;
$green-dark: #354463;
$green-light: #c0f5d5;    
$blue-light : #C1F7D5;
$cursive : 'Flood Std';
$regular : 'Helvetica';
$white : #fff;

$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile : "(min-width: 340px) and (max-width: 768px)";
