/* header css */
* {
  box-sizing: border-box;
}
.header--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  /* outline: 1px solid #000; */
  padding: 2rem 0;
}
.header {
  display: grid;
  width: 1120px;
  grid-template-columns: 2.5fr 0.5fr;
  margin: 0 auto;
  /* outline: 1px solid #000; */
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__nav-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header__nav-links li {
  margin: 0 3rem;
  padding: 1rem 0;
}
.header__heading {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  width: 160px;
}

.header__donate {
  /* height: 48px; */
  width: 160px;
  padding: 0.25rem 0;
}
.btn {
  padding: 0.75rem 1.25rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header--container {
    width: 100%;
    padding: 0rem 4rem;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

  .header__wrapper {
    display: block;
  }

  .header__heading {
    margin: 0.5rem 0;
  }

  .header__nav-links {
    margin: 0.75rem 0;
  }

  .header__nav-links li {
    margin: 0;
    padding: 0.5rem;
  }
  .header__donate {
    padding: 0;
    margin: 2rem 0;
  }

  .header__donate .btn {
    padding: 0.75rem 1.25rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header--container,
  .header,
  .header__nav-links {
    display: block;
  }

  .header--container,
  .header {
    width: 100%;
  }

  .header--container {
    padding: 2rem;
  }

  .header__heading {
    padding: 0.5rem 0;
  }

  .header--container,
  .header {
    width: 100%;
  }

  .header__nav-links li {
    margin: 0;
    padding: 0.3rem 0;
  }

  .header__donate {
    margin: 0;
    width: 100%;
  }

  .header__donate .btn {
    width: 100%;
    display: block;
  }
}

/************************showcase********************/
* {
  box-sizing: border-box;
}

.aboutus__showcase--container {
  background-image: url("../../assets/about-us/annie-spratt-427339-unsplash.png");
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: 0% 0%;
  background-origin: border-box;
  background-color: #335563;
  height: 400px;
  width: 1440px;
  padding-top: 96px;
  margin: 0 auto;
}

.aboutus__showcase {
  width: 77.78%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.aboutus__showcase--banner {
  font-size: 72px;
  font-family: "Flood Std";
  color: #fff;
}

.aboutus__showcase--box {
  position: relative;
  width: 544px;
  height: 336px;
  background-color: #fff;
  color: #354463;
  padding: 0 4rem;
  padding-top: 4rem;
  /* border: 1px solid #000; */
  z-index: 999;
  transform: translateY(12.5%);
}
.aboutus__showcase--box-cap {
  transform: translateY(-250%);
  z-index: 50;
  position: absolute;
}

.aboutus__showcase--box-text {
  font-size: 28px;
  font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .aboutus__showcase--container {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  .aboutus__showcase {
    display: block;
    width: 100%;
  }

  .aboutus__showcase--banner {
    font-size: 44px;
    padding: 2rem;
  }

  .aboutus__showcase--box {
    width: 312px;
    height: 264px;
    padding: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    /* margin-top: 136px; */
    /* margin-bottom: 5rem; */
  }

  .aboutus__showcase--box-cap {
    transform: translateY(-435%);
    width: 160px;
  }

  .aboutus__showcase--box-text {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .aboutus__showcase--container {
    height: 608px;
    padding: 4rem;
    margin: 0;
    width: 100%;
  }
  .aboutus__showcase {
    display: block;
    margin: 0;
  }

  .aboutus__showcase--banner {
    font-size: 44px;
  }

  .aboutus__showcase--box {
    width: 640px;
    height: 264px;
  }
}

/* 3 */
/* ************************************************ */
/* ****************whatwedo *************************/
/* **************************************************/

.whatwedo__container {
  padding: 8rem 0 6rem 0;
  background-color: #354463;
  width: 1440px;
  margin: 0 auto;
}

.whatwedo {
  width: 77.78%;
  margin: 0 auto;
  color: #fff;
}

.whatwedo__cap {
  width: 160px;
  background-color: #fff;
  color: #354463;
}

.whatwedo--item--logo {
  width: 57px;
  height: 57px;
}

.whatwedo__heading {
  font-size: 44px;
  font-weight: bold;
  text-align: left;
  margin: 2rem 0 8.5rem 0;
}

.whatwedo__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 6rem;
}

.whatwedo--item-text {
  text-align: left;
}

.whatwedo--item--heading {
  margin-top: 1rem;
  font-size: 28px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .whatwedo__container {
    padding: 4rem 4rem;
    width: 100%;
    /* max-width: 768px; */
  }

  .whatwedo {
    width: 100%;
    margin: 0 auto;
  }

  .whatwedo--logo {
    width: 40px;
    height: 40px;
  }

  .whatwedo__heading {
    font-size: 28px;
    margin-bottom: 60px;
  }

  .whatwedo__items {
    /* width: 640px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .whatwedo--item--heading {
    font-size: 18px;
    margin: 0;
  }

  .whatwedo--item-text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .whatwedo__container {
    /* width: 320px; */
    width: 100%;
    padding: 2rem 0 2rem 0;
  }

  .whatwedo__cap {
    transform: translateX(37.5%);
  }

  .whatwedo__heading {
    font-size: 22px;
    text-align: center;
    margin: 22px;
  }

  .whatwedo {
    padding: 0 2rem;
    margin: 0;
    width: inherit;
  }

  .whatwedo--logo {
    width: 40px;
    height: 40px;
  }

  .whatwedo__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 28px;
    row-gap: 28px;
  }

  .whatwedo--item--heading {
    font-size: 16px;
    margin: 0;
  }

  .whatwedo--item-text {
    font-size: 11px;
    padding: 0.5rem 0;
  }
}

/* 
    <!-- ********4************ -->
    <!-- meet the team  --> 
    */

.meettheteam__container {
  width: 1440px;
  margin: 0 auto;
}

.meettheteam {
  width: 77.8%;
  margin: 0 auto; 
  padding: 8rem 0;
}

.meettheteam--text {
  /* outline: 1px solid black; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto; 
}

.meettheteam--members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 3.5rem;
}
.meettheteam--heading {
  font-size: 44px;
  font-weight: bold;
  text-align: left;
  padding: 2rem;
  width: 48%;
  /* outline: 1px solid black; */ 
}

.meettheteam--para {
  font-size: 20px;
  width: 49%;
  padding: 2rem; 
  /* outline: 1px solid black; */ 
}

.meettheteam--member--name {
  margin: 0;
  padding: 1rem;
  text-align: center;
  background-color: #354463;
  color: #fff;
  font-size: 14px;
  transform: translate(12.5%, -50%);
  width: 320px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .meettheteam__container {
    width: 100%;
  }

  .meettheteam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    /* margin: 0; */
  }

  .meettheteam--text {
    display: block;
    width: 100%;
    margin: 0;
  }

  .meettheteam--members {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }

  .meettheteam--heading {
    font-size: 22px;
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 1.75rem 0;
  }

  .meettheteam--para {
    padding: 0;
    font-size: 14px;
    margin: 2rem 0;
    width: 100%;
    text-align: center;
  }

  .member-photo {
    width: 144px;
    height: 144px;
  }

  .meettheteam--member--name {
    width: 144px;
    height: 64px;
    transform: translate(0, -7.5%);
    margin: 0;
    text-align: left;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .meettheteam__container {
    width: 100%;
    padding: 1rem;
  }
  .meettheteam {
    width: 100%;
    padding: 2rem;
  }

  .meettheteam--text {
    margin: 3rem 0;
  }

  .meettheteam--heading {
    font-size: 36px;
    padding: 0;
    margin: 1.75 auto;
    width: 100%;
  }

  .meettheteam--para {
    padding: 0;
    margin: 1.75 auto;
    width: 100%;

  }

  .meettheteam--members {
    grid-template-columns: repeat(2, 1fr);
  }

  .member-photo {
    width: 272px;
    height: 272px;
  }

  .meettheteam--member--name {
    width: 272px;
  }
}
