.header--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  /* outline: 1px solid #000; */
  padding: 2rem 0;
}
.header {
  display: grid;
  width: 1120px;
  grid-template-columns: 2.5fr 0.5fr;
  margin: 0 auto;
  /* outline: 1px solid #000; */
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__nav-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header__nav-links li {
  margin: 0 3rem;
  padding: 1rem 0;
}
.header__heading {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  width: 160px;
}

.header__donate {
  /* height: 48px; */
  width: 160px;
  padding: 0.25rem 0;
}
.btn {
  padding: 0.75rem 1.25rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header--container {
    max-width: 100%;
    padding: 0rem 4rem;
  }

  .header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

  .header__wrapper {
    display: block;
  }

  .header__heading {
    margin: 0.5rem 0;
  }

  .header__nav-links {
    margin: 0.75rem 0;
  }

  .header__nav-links li {
    margin: 0;
    padding: 0.5rem;
  }
  .header__donate {
    padding: 0;
    margin: 2rem 0;
  }

  .header__donate .btn {
    padding: 0.75rem 1.25rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header--container,
  .header,
  .header__nav-links {
    display: block;
  }

  .header--container {
    padding: 2rem;
  }

  .header__heading {
    padding: 0.5rem 0;
  }

  .header--container,
  .header {
    max-width: 100%;
  }

  .header__nav-links li {
    margin: 0;
    padding: 0.3rem 0;
  }

  .header__donate {
    margin: 0;
    width: 100%;
  }

  .header__donate .btn {
    width: 100%;
    display: block;
  }
}

/***********************************************/
/* ************************************************ */
/* **************************************************** */

.showcase__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 128px 0;
  box-sizing: border-box;
  height: 100%;
  background-image: url("../../../assets/home/annie-spratt-135307-unsplash.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #354463;
}

.showcase {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.showcase__banner {
  color: #fff;
  font-size: 72px;
  font-family: "Flood Std";
  text-align: left;
  margin: 0 135px;
}

.showcase__box {
  background-color: #fff;
  color: #354463;
  height: 416px;
  padding: 3rem 4rem;
  position: relative;
  box-sizing: border-box;
  width: 544px;
}

.showcase__cap {
  color: #fff;
  background-color: #354463;
  bottom: 4rem;
  padding: 0.5rem 0rem;
  box-sizing: border-box;
  position: relative;
  width: 160px;
  text-align: center;
}

.showcase__heading {
  /* border: 1px solid #000; */
  font-size: 44px;
  font-weight: bold;
  text-align: left;
}

.showcase__readmore {
  padding: 3rem 0;
}
.showcase__readmore a {
  color: #354463;
}
/****************************Mobile***********************************/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  * {
    box-sizing: border-box;
  }
  .showcase__container {
    height: 592px;
    margin: 0;
    padding: 2rem 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75% center;
  }

  .showcase {
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .showcase__banner {
    font-size: 44px;
    margin: 2rem 0;
  }

  .showcase__box {
    height: 240px;
    width: 312px;
    padding: 1rem 1.5rem;
    position: static;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .showcase__cap {
    bottom: 1rem;
    position: relative;
    transform: translateX(27.5%);
  }

  .showcase__heading {
    font-size: 22px;
    text-align: center;
  }

  .showcase__readmore {
    text-align: center;
    padding: 2rem 0;
  }
}

/*****************************Tablet *************************/
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .showcase__container {
    height: 688px;
    width: 768px;
    margin: 0;
    padding: 4rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .showcase {
    display: block;
    margin: 0 auto;
    padding: 0 64px;
  }

  .showcase__banner {
    font-size: 44px;
    margin: 2rem 0;
  }

  .showcase__box {
    height: 309px;
    width: 640px;
    padding: 1rem 3rem;
    margin: 3rem 0;
  }

  .showcase__cap {
    bottom: 2rem;
  }

  .showcase__heading {
    font-size: 36px;
    text-align: justify;
  }

  .showcase__readmore {
    padding: 2rem 0;
  }
}
